<?xml version="1.0" encoding="utf-8"?>
<Media Key="007c80ef-0864-4d24-9d16-2e643272c873" Alias="4people" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/people</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-25T12:59:46</CreateDate>
    <NodeName Default="4people" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/mbfdvnqn/4people.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>