<?xml version="1.0" encoding="utf-8"?>
<Media Key="3016d881-5e03-48e7-9b50-e90a8d1522a9" Alias="ajcarter" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ajcarter</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-26T11:46:11</CreateDate>
    <NodeName Default="ajcarter" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/byjfbbtk/ajcarter.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>