<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a7be7e3-335f-43e4-a905-5b00a60bc731" Alias="facebook" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/facebook</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-25T14:00:03</CreateDate>
    <NodeName Default="facebook" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/nqwd1lbw/facebook.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>