<?xml version="1.0" encoding="utf-8"?>
<Media Key="3bec460d-7f45-42f0-8268-687c2a58d9f4" Alias="fossilgroup" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/fossilgroup</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-25T13:22:34</CreateDate>
    <NodeName Default="fossilgroup" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qkgkvdjm/fossilgroup.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>