<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0e285db-631d-435c-be27-48d24de5076a" Alias="globe" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/globe</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-25T13:22:44</CreateDate>
    <NodeName Default="globe" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/krhlibtu/globe.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>