<?xml version="1.0" encoding="utf-8"?>
<Media Key="54753816-ea28-4a96-9656-b0b40c5a012d" Alias="happyguy" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/happyguy</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-25T13:04:25</CreateDate>
    <NodeName Default="happyguy" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/thzdhysb/happyguy.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>