<?xml version="1.0" encoding="utf-8"?>
<Media Key="72407948-5146-4040-8a9a-4a12479809e6" Alias="happymeeting" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/happymeeting</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-25T13:05:23</CreateDate>
    <NodeName Default="happymeeting" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/y4zbnrbp/happymeeting.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>