<?xml version="1.0" encoding="utf-8"?>
<Media Key="97de4146-e958-4871-9382-607bc6960098" Alias="heropicture" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/heropicture</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-25T17:19:04</CreateDate>
    <NodeName Default="heropicture" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/zgfjqijr/heropicture.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>