<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef41c51a-0fa6-4af2-bd1f-f7c6754679ac" Alias="identity" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/identity</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-25T13:23:32</CreateDate>
    <NodeName Default="identity" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/suhbowop/identity.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>