<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc7a479d-4e6e-460a-9348-67b5763ac0e1" Alias="linkedin" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/linkedin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-25T14:00:43</CreateDate>
    <NodeName Default="linkedin" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ckgdy4qh/linkedin.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>