<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd1b1e46-5708-4fd9-ba55-4d1fc8f1c877" Alias="mirandasmall" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mirandasmall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-25T13:03:21</CreateDate>
    <NodeName Default="mirandasmall" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/zhkf0c1b/mirdanasmall.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>