<?xml version="1.0" encoding="utf-8"?>
<Media Key="acb5daa2-82a0-4cb0-80dc-5b5f2985e4ff" Alias="people" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/people</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-25T12:58:48</CreateDate>
    <NodeName Default="people" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/fuipggwj/people.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>