<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdacfdb3-144b-4a82-8eb1-6f3456a86650" Alias="riskmanagement.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/riskmanagementpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T19:28:57</CreateDate>
    <NodeName Default="riskmanagement.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hq1pu4zc/riskmanagement.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>