<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ff64cd0-8116-456f-b747-4a0bb7cab872" Alias="signature" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/signature</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-25T13:52:00</CreateDate>
    <NodeName Default="signature" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/l4dlb4l5/signature.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>