<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2b584fb-f59c-4004-a8ff-0aea02d7b150" Alias="sl-home2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T20:38:37</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/be2boeeh/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>