<?xml version="1.0" encoding="utf-8"?>
<Media Key="6bc1730d-e721-4c86-8f7f-a54369db13f1" Alias="tinasmall" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tinasmall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-25T13:03:58</CreateDate>
    <NodeName Default="tinasmall" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qk2jpxki/tinasmall.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>