<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e1e0c3e-9dad-43b1-91ea-23b69ef5922f" Alias="twitter" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/twitter</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-25T14:00:25</CreateDate>
    <NodeName Default="twitter" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/whdfrcge/twitter.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>