<?xml version="1.0" encoding="utf-8"?>
<Content Key="98c65b41-9355-44fa-a200-993e3e40a8b9" Alias="About" Level="2">
  <Info>
    <Parent Key="8cd1efac-ad18-4a5d-aa7c-80e05e507f57">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPa</ContentType>
    <CreateDate>2025-10-22T01:44:49</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8734c336-c4d6-43d6-bddd-9177b1fb7663">About</Template>
  </Info>
  <Properties />
</Content>