<?xml version="1.0" encoding="utf-8"?>
<Content Key="e23e24d3-f4e9-4ec7-b3b9-9d3dd1d22453" Alias="Contact" Level="2">
  <Info>
    <Parent Key="8cd1efac-ad18-4a5d-aa7c-80e05e507f57">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-22T01:46:51</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="394d30b5-6a0d-4306-8877-7a4615565870">ContactPage</Template>
  </Info>
  <Properties />
</Content>