<?xml version="1.0" encoding="utf-8"?>
<Content Key="8cd1efac-ad18-4a5d-aa7c-80e05e507f57" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-22T01:02:29</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d300315f-4206-4bbb-a4fd-1cbcf1e56794">HomePage</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4ec974c7-7165-4a1c-ada1-37fb34500e98",
      "key": "4ef6be9b-8b5c-4875-9a98-6b1ec1bc6367",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We Provide The Solutions"
        },
        {
          "alias": "subheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "To Grow Your Business Faster"
        },
        {
          "alias": "services",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5a01f559-3f16-4dfe-9719-ffccf3e9ddb3",
                "key": "e4db093a-7d7d-4229-a60e-2228e617a85a",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Risk Management"
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2eacf519-6760-4081-ba0a-7a096348bc82",
                        "mediaKey": "cdacfdb3-144b-4a82-8eb1-6f3456a86650",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "5a01f559-3f16-4dfe-9719-ffccf3e9ddb3",
                "key": "672a3823-2209-49a8-86cf-ac737b7bd5b8",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bonds \u0026 Commodities"
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "80adc7da-82a2-41ef-904b-f53922fd7616",
                        "mediaKey": "6299ffb5-515c-4981-b647-21dc5e7f3c1a",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "5a01f559-3f16-4dfe-9719-ffccf3e9ddb3",
                "key": "b839e26b-802e-49b0-9bfa-75c758710ca4",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assurance \u0026 Audits"
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d5207da3-0365-478e-8521-c5b5f3250ba9",
                        "mediaKey": "d7a9633e-4d6b-4f66-a677-12d03093f069",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "5a01f559-3f16-4dfe-9719-ffccf3e9ddb3",
                "key": "c10d3cb3-9986-46a8-bcf6-dc3f32cb046e",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tax and Trusts"
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5b27bf7e-13e5-4493-a28c-7a4d9a2e0270",
                        "mediaKey": "ca63ba75-820f-45d1-8d31-bb1ab3760f9b",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "5a01f559-3f16-4dfe-9719-ffccf3e9ddb3",
                "key": "1d2e7346-9091-43ec-a868-006fe1faac4f",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor"
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "27b84589-ba53-415d-be32-431f721d9701",
                        "mediaKey": "5d193b90-ad24-401c-bbde-cb10707491ba",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "5a01f559-3f16-4dfe-9719-ffccf3e9ddb3",
                "key": "883b36b1-61e1-4718-ba9e-f1cb8ae6b0b8",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Statistic Advisors"
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "52f8f203-e18a-495e-924d-87aba5946391",
                        "mediaKey": "b84def7d-eb94-4197-bcd4-f799d7ad4e92",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "e4db093a-7d7d-4229-a60e-2228e617a85a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "672a3823-2209-49a8-86cf-ac737b7bd5b8",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b839e26b-802e-49b0-9bfa-75c758710ca4",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c10d3cb3-9986-46a8-bcf6-dc3f32cb046e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1d2e7346-9091-43ec-a868-006fe1faac4f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "883b36b1-61e1-4718-ba9e-f1cb8ae6b0b8",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "e4db093a-7d7d-4229-a60e-2228e617a85a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "672a3823-2209-49a8-86cf-ac737b7bd5b8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b839e26b-802e-49b0-9bfa-75c758710ca4",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c10d3cb3-9986-46a8-bcf6-dc3f32cb046e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1d2e7346-9091-43ec-a868-006fe1faac4f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "883b36b1-61e1-4718-ba9e-f1cb8ae6b0b8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "8f7dcb0f-3dd6-4844-a1bd-a74db88100e0",
      "key": "07073613-ba03-4a1d-8d55-b845bd00980d",
      "udi": null,
      "values": [
        {
          "alias": "stat1Number",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "689"
        },
        {
          "alias": "stat1Text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More than 100 customers has been served"
        },
        {
          "alias": "stat2Number",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "370"
        },
        {
          "alias": "stat2Text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More than 370 projects has been completed"
        },
        {
          "alias": "stat3Number",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "125"
        },
        {
          "alias": "stat3Text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More than 125 branches has been established in Europe and America"
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8cb14c26-c0f1-4603-9d0f-24d538057d8a",
              "mediaKey": "abf0ef73-0207-47b9-a438-4d06833d847b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "4ef6be9b-8b5c-4875-9a98-6b1ec1bc6367",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "07073613-ba03-4a1d-8d55-b845bd00980d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4ef6be9b-8b5c-4875-9a98-6b1ec1bc6367",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "07073613-ba03-4a1d-8d55-b845bd00980d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockList>
    <heroBgimage>
      <Value><![CDATA[[
  {
    "key": "3b9eb520-27f9-489d-8264-a7ea04ac8576",
    "mediaKey": "f2b584fb-f59c-4004-a8ff-0aea02d7b150",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBgimage>
    <heroLink>
      <Value><![CDATA[[
  {
    "name": "Contact Us",
    "target": null,
    "udi": "umb://document/e23e24d3f4e94ec7b3b99d3dd1d22453",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </heroLink>
    <heroText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </heroText>
    <heroTitle>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroTitle>
  </Properties>
</Content>