<?xml version="1.0" encoding="utf-8"?>
<Content Key="de21833f-87a6-4860-88bf-7986c952970a" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="f0d66b8d-5354-4aee-bb78-e669a74135dc">Services</Parent>
    <Path>/Home/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesDetailPage</ContentType>
    <CreateDate>2025-10-22T01:51:28</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d9502906-7208-40a3-a94e-e9b12d1a9cc4">ServicesDetailPage</Template>
  </Info>
  <Properties />
</Content>