<?xml version="1.0" encoding="utf-8"?>
<Content Key="f0d66b8d-5354-4aee-bb78-e669a74135dc" Alias="Services" Level="2">
  <Info>
    <Parent Key="8cd1efac-ad18-4a5d-aa7c-80e05e507f57">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2025-10-22T01:46:05</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2faa586a-ed08-4473-8fc1-8a1d4185ca64">ServicesPage</Template>
  </Info>
  <Properties />
</Content>