<?xml version="1.0" encoding="utf-8"?>
<Content Key="18952156-6f5d-44c5-9d90-d0e7df0faf25" Alias="ServiceDetail" Level="2">
  <Info>
    <Parent Key="8cd1efac-ad18-4a5d-aa7c-80e05e507f57">Home</Parent>
    <Path>/Home/ServiceDetail</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesDetailPage</ContentType>
    <CreateDate>2025-10-22T01:46:33</CreateDate>
    <NodeName Default="ServiceDetail" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d9502906-7208-40a3-a94e-e9b12d1a9cc4">ServicesDetailPage</Template>
  </Info>
  <Properties />
</Content>