<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a367364f-8b12-4bd5-a268-b32770e73452" Alias="Hero Block - Subtitle - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Hero Block - Subtitle - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>