<?xml version="1.0" encoding="utf-8"?>
<DataType Key="046e827e-61f9-492e-becf-bc546fcc00a4" Alias="Home Page - Block List - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Block List - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "23f50a94-9067-4922-80d9-b3c4e0f9cbe4"
    },
    {
      "contentElementTypeKey": "4ec974c7-7165-4a1c-ada1-37fb34500e98"
    },
    {
      "contentElementTypeKey": "8f7dcb0f-3dd6-4844-a1bd-a74db88100e0"
    },
    {
      "contentElementTypeKey": "3f35774f-9177-47f6-9092-e97a2539169f"
    },
    {
      "contentElementTypeKey": "354ddc07-8ab8-4cfa-96c3-1979d36fb19c"
    }
  ]
}]]></Config>
</DataType>