<?xml version="1.0" encoding="utf-8"?>
<DataType Key="26db096c-484e-4661-a792-b97230dcf7d0" Alias="Services Grid Section Element - Services - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Services Grid Section Element - Services - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5a01f559-3f16-4dfe-9719-ffccf3e9ddb3"
    }
  ]
}]]></Config>
</DataType>