<?xml version="1.0" encoding="utf-8"?>
<DataType Key="38b49778-d806-4222-a792-eb445584e93c" Alias="Team Section Element - Team Members - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Team Section Element - Team Members - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "993f87ec-64fc-4ae2-b263-dca369dc6ab8"
    }
  ]
}]]></Config>
</DataType>