<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ebca4bf6-64ad-4c52-a477-6cd6e3d2dbae" Alias="servicesDetailPage" Level="2">
  <Info>
    <Name>Services Detail Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>ServicesDetailPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d9502906-7208-40a3-a94e-e9b12d1a9cc4">ServicesDetailPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>