<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7602d9ac-ea34-49ee-bbec-a4e86ac6cb0f" Alias="servicesPage" Level="2">
  <Info>
    <Name>Services Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>ServicesPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2faa586a-ed08-4473-8fc1-8a1d4185ca64">ServicesPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ebca4bf6-64ad-4c52-a477-6cd6e3d2dbae" SortOrder="0">servicesDetailPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>